[Unit]
Description=smokemon collect (ping/net, 10s)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__SMOKEMON_DIR__
EnvironmentFile=-__ENV_FILE__
ExecStart=__PYTHON__ -m smokemon.collect fast
Restart=always
RestartSec=5
Nice=5

[Install]
WantedBy=multi-user.target
